html,
body {
    width: 801px;
    height: 221px;
    line-height: 0.3;
    font-weight: 500;
}
.assinatura {
    position: relative;
    left: 0px;
    right: 0px;
    width: 801px;
    height: 221px;
}

#image {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 801px;
    height: 221px;
}

#texto {
    position: absolute;
    font-family: 'Segoe UI';
    left: 240px;
    top: 45px;
    color: #0044a5;
}

#texto #nome {
    font-family: 'Segoe UI';
    font-size: 30px;
    text-align: center;
    font-weight: 630;
    line-height: 0;
}

#texto #cg {
    font-family: 'Segoe UI';
    font-size: 22px;
    text-align: center;
    line-height: 1.4;
}

#texto #tel {
    font-family: 'Segoe UI';
    font-size: 19px;
    text-align: center;
}

#texto #mail {
    font-family: 'Segoe UI';
    font-size: 19px;
    text-align: center;
}

#btn-Preview-Image {
    position: absolute;
    top: 250px;
    padding: 7px;
    border-radius: 30px;
    background-color: #0048ad;
    color: aliceblue;
}
